# Source
ezyenv.rb
ezyenv.sh
*.ts
!*.d.ts
index.ts

# Development files
.git
.github
.gitignore
.npmignore
.env*
*.log
test/
coverage/

# Build artifacts
*.tsbuildinfo
*.map

# Misc
.DS_Store
node_modules/
.vscode/
.idea/